.wallet-app-search-bar {
    position: relative;
}
.wallet-app-search-seeker {
    width: 100%;
}
.wallet-app-search-content {
    position: absolute;
    top: 28px;
    width: 100%;
    max-height: 150px;
    background: #f1f1f1;
    overflow: scroll;
    border-radius: 4px;
}
.wallet-app-search-content .wallet-app-search-value {
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
}
.wallet-app-selected-coins {
    background: #efefef;
    max-height: 215px;
    overflow-y: scroll;
}
.wallet-app-selected-coins .wallet-app-selected-coin {
    padding: 3px 5px;
    border: 1px solid;
    margin: 4px 0;
}
.wallet-app-colin-list-action {
    float: right;
    white-space: nowrap;
    margin-top: -3px;
}
.wallet-app-selected-coin:first-child div.dashicons-arrow-up-alt2, .wallet-app-selected-coin:last-child div.dashicons-arrow-down-alt2 {
    opacity: 0;
    cursor: default;
}
.wallet-app-colin-list-action div {
    display: inline-block;
    padding: 0 2px;
    margin: 0 5px;
    cursor: pointer;
}
.wallet-app-colin-list-action div:last-child {
    display: inline-block;
    padding: 0 0 0 2px;
    margin: 0 0 0 5px;
}
.wallet-app-colin-list-action .dashicons-no {
    color: red;
}
